{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container mt-4">
        <form action="">
            <label for="searchMovie" class="form-label">Search for Movie:</label>
            <input type="text" class="form-control mb-3" name="searchMovie" id="searchMovie" placeholder="Enter movie name">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>   
        
        <p class="mt-3">Searching for {{searchTerm}}</p> 

        <!-- Movies Loop -->
        <div class="row">
            {% for movie in movies %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ movie.image.url }}" class="card-img-top img-fluid" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        <p><strong>Genre:</strong> {{ movie.genre }}</p> <!-- Mostrar género -->
                        <p><strong>Year:</strong> {{ movie.year }}</p>   <!-- Mostrar año -->
                        {% if movie.url %}
                            <a href="{{ movie.url }}" class="btn btn-primary">More Info</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>

</body>
</html>
{% endblock content %}