{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container mt-4">
        <div class="row">
            {% for news in newss %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.headline }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ news.date }}</h6>
                        <p class="card-text">{{ news.body }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock content %}